<!DOCTYPE HTML>
<%- partial('_partial/head') %>

<body oncontextmenu='return false'>
  <div class=aios_content>
    <div class=bg-gradient></div>
    <div class=bg-pattern></div>
    <%- partial('_partial/menu') %>
    <div class=container style='padding-bottom:40px'>
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
</body>
<%- partial('_partial/scripts') %>
