<!DOCTYPE HTML>
<%- partial('_partial/head') %>

<body>
  <div class=bg-gradient></div>
  <div class=bg-pattern></div>

  <%- partial('_partial/menu') %>

  <div class=container>
    <%- body %>
  </div>

  <%- partial('_partial/footer') %>
</body>
<%- partial('_partial/scripts') %>
