
<div class=post>
  <div class='post-header index animation'>
    <h1 class=title><%- item.title %></h1>
    <div class=post-info>
      <% if(item.date) { %>
        <span class=date><%= item.date.format(config.date_format) %></span>
      <% } %>
      <% if(item.categories.first()) { %>
        <span class=category>
          <a href='<%- config.root + item.categories.first().path  %>'><%- item.categories.first().name %></a>
        </span>
      <% } %>
    </div>
  </div>

  <div class=content>
    <%- item.excerpt %>
  </div>
  <a class=read-more href='<%- url_for(item.path) %>'>Read More</a>
</div>
